html.open {
  overflow: hidden;
}
.menu_btn {
width: 22px;
height: 20px;
background: url('../images/menu_btn01.png') no-repeat center center;
background-size: 100% auto;
z-index: 20;
cursor: pointer;
}
.my_right{
 display:flex;
 align-items:center;
}
.my_right a{
 display:block;
 width:100%;
 height:100%;
}
.my_right .see_btn{
 width: 22px;
 height: 24px;
 background: url('../images/icon_see.png') no-repeat center center;
 background-size: 100% auto;
 z-index: 20;
 cursor: pointer;
 margin:0px 12px 0px 0px;
}
.my_right .my_btn{
 width: 22px;
 height: 24px;
 background: url('../images/icon_mybag.png') no-repeat center center;
 background-size: 100% auto;
 z-index: 20;
 cursor: pointer;
}
.menu_close {
  position: absolute;
  right: 15px;
  top: 14px;
  width: 20px;
  height: 20px;
  background: url('../images/menu_close_black.png') no-repeat center center;
  background-size: 100% auto;
  cursor: pointer;
  opacity:0.4;
}
#menu {
  width:270px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -270px;
  z-index:200;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  background: #fff;
  overflow-y: auto;
}
#menu.open {
  left: 0px;
}
.page_cover.open {
  display: block;
}
.page_cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index:150;
  display: none;
}

.menu_wrap{
 width:100%;
 height:100%;
 padding:0px;
 position: relative;
 overflow:hidden;
 overflow-y: auto;
}
.menu_top{
width:100%;
position:relative;
padding:45px 0px 0px;
 background: #fff;
}
.menu_logo{
 padding:70px 0px 35px;
 width:100%;
 border-bottom:1px solid #ededed;
}
.menu_logo img{
width:80px;
height:auto;
}
.menu_person{
 background:#f8f8f8;
 width:100%;
 padding:22px 25px 20px;
}
.menu_bottom{
 width:100%;
 background:#fff;
 padding: 10px 60px 30px 25px;
}
.Icon_mob{
 width:100%;
 padding:5px 10px 10px 0px;
 border-bottom:1px solid #ddd;
}
.Icon_mob .link{
 padding:13px 0px;
}
.Icon_mob .link a{
 display:block;
 font-size:14px;
 font-weight: 400;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.Icon_mob .link a i{
 font-size:12px;
}

.me_custom{
 display:flex;
}
.me_custom .text{
 width:82%;
 padding-right: 3%;
}
.me_custom .text dt{
 font-size:17px;
 padding:2px 0px 10px;
}
.me_custom .text dd{
 font-size:13px;
 color:#555;
 line-height: 1.5;
}
.me_custom .custom{
 width:18%;
 padding: 10px 0px 0px;
}
.me_custom .custom img{
 width:100%;
 height:auto;
}
.me_btnzone{
 width:100%;
 background:transparent;
 display:flex;
 justify-content: space-between;
 padding: 25px 0px 0px;
}
.me_btnzone a{
 width:45%;
 padding:8px 6px 6px;
 background:#fff;
 border:1px solid #ddd;
 text-align:center;
 display:block;
 font-size:13px;
}
.add_menu{
 width:100%;
 padding:12px 0px 10px 10px;
 display:none;
}
.Icon_mob .link .add_menu li a{
 font-size:13px;
 display:block;
 padding:8px 0px;
}
.Icon_mob .link .add_menu li:last-child a{
 padding:7px 0px 0px;
}
.bottom_mob{
 padding: 10px 10px 10px 0px;
 border:none;
}
.Icon_mob .link a span {
	width: 5px;
    height: 13px;
    background: url('../images/mob_arr.png') no-repeat center center;
    background-size: 100% auto;
}
.Icon_mob .link a .space_line{
 width:9px;
 height:13px;
 background: url('../images/mob_space.png') no-repeat center center;
 background-size: 100% auto;
}
.selb_link span{
	width: 6px;
    height: 13px;
    background: url('../images/mob_arr.png') no-repeat center center;
    background-size: 100% auto;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.selb_link.selb_on span {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.link a .me_logo{
 width:90px;
}


@media screen and (min-width:992px) {
	.my_right .see_btn{
	margin:0px 20px 0px 0px;
	}
}
